/* Estilo general del header */
.header {
  display: flex;
  justify-content: center; /* Centra los elementos horizontalmente */
  align-items: center; /* Centra los elementos verticalmente */
  background-color: #1e1e1e;
  color: white;
  padding: 0 20px; /* Ajustado para eliminar padding vertical innecesario */
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  box-sizing: border-box;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  height: 60px; /* Altura fija del header */
}

/* Contenedor interno del header */
.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

/* Título del header */
/* Título del header */
.header-title {
  font-size: 1rem; /* Ajustado para mejor visibilidad */
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  margin: 10px 0 0 0; /* Aumenta el margen superior */
  padding-top: 10px; /* Desplaza aún más hacia abajo */
  line-height: 1.2; /* Ajusta la altura de línea para mayor control */
}

/* Logo */
.header-logo {
  max-width: 120px;
  height: auto;
}

/* Espaciado para evitar superposición con el contenido */
.main-content {
  margin-top: 60px; /* Coincide con la altura del header */
}

/* Responsivo */
@media (max-width: 768px) {
  .header {
    display: none;
  }

  .main-content {
    margin-top: 0; /* No se necesita espacio adicional cuando el header está oculto */
  }
}
